
.comments {
  width: 600px;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 5px;
  margin: 10px;
}

.comments-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.comments-div p {
  padding-right: 6px;
}

.comment-form {
  padding: 5px 0 5px 0;
}

.add-comment {
  background: paleturquoise;
  color: black;
  border-radius: 2px;
  margin: 5px;
}

.comment-form input {
  color: gray;
  padding-right: 1px;
}